<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.promotion.VIPActivityMapper">
    <select id="getAllVIPActivities" resultType="com.example.cinema.po.VIPActivity">
      select * from vip_activity
    </select>

    <select id="getVIPActivityById" resultType="com.example.cinema.po.VIPActivity" parameterType="int">
        select * from vip_activity where `id`=#{id}
    </select>

    <insert id="insertActivity" parameterType="com.example.cinema.po.VIPActivity"
            useGeneratedKeys="true" keyProperty="id">
        insert into vip_activity values(null,#{name},#{description},#{cost_in_need},#{bonus_balance})
    </insert>

    <delete id="deleteActivity" parameterType="int">
        delete from vip_activity where `id`=#{id}
    </delete>

    <update id="updateActivity" parameterType="com.example.cinema.po.VIPActivity">
        update vip_activity set `name`=#{name},`description`=#{description},cost_in_need=#{cost_in_need},bonus_balance=#{bonus_balance} where `id`=#{id}
    </update>

</mapper>