* {
    padding: 0;
    margin: 0;
    font-size: 14px;
}
html {
    height: 100%;
}
body {
    height:100%;
    overflow: hidden;
    /*position: relative;*/
}
input {
    width: 250px;
    height: 25px;
    border: 0;
}
ul {
    list-style: none;
}
.card {
    background: #fff;
    border-radius: 2px;
    box-shadow: #ccc 1px 0 0 0;
}
.title {
    font-size: 24px;
}
.avatar-lg {
    width: 55px;
    height:55px;
    border-radius: 50%;
}
.avatar-sm {
    width: 40px;
    height:40px;
    border-radius: 50%;
}
.label {
    padding: 5px;
    color: #fff;
    border-radius: 10px!important;
    margin: 0 20px;
}
/**
    颜色相关
 */
.gray-text {
    color: #777;
}
.dark-text {
    color: #666;
}
.error-text {
    color: #ed5565;
}
.primary-text {
    color: #1caf9a;
}
.primary-bg {
    background: #1caf9a;
}
.error-bg {
    background: #ed5565;
}





.nav-user-container {
    padding: 0px 5px 0px 5px;
    text-align: center;
    color: #fff;
}
.nav-container .title {
    color: #fff;
}
.nav-logo {
    color: #1caf9a;
    font: 700 30px "Comic Sans MS";
    text-shadow: 0 0 20px #1caf9a,
    10px -10px 30px #1caf9a,
    20px -20px 40px #1caf96,
    -20px -60px 50px #1cafa1,
    0px -80px 60px #4caf9a,
    10px -40px 50px #1caf9a;
}

.nav-record-top-container{
    /*height: 70px;*/
    position: fixed;
    width: 100%;
    background: #fff;
    padding: 5px 20px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    z-index:99;
}

.body-container{
    /*height: 96%;*/
    /*size: auto;*/
    height: 100%;
    background: #e4e7ea;
    /*padding: 20px;*/
    overflow-y: scroll;
    display: flex;
}
.nav-record-left-container {
    top: 52px;
    position:fixed;
    bottom: 0;
    /*flex: 1;*/
    width: 15%;
    height: 100%;
    background: #1d2939;
    padding: 30px 20px;
}

.record-container{
    /*flex: 2;*/
    position: relative;
    /*size: auto;*/
    left: 14%;
    top: 52px;
    width: 86%;
    height: 100%;
    /*height: auto;*/
    padding: 10px 2%;
    /*background-color: #ffffff;*/
}

.record-item{
    margin: 0;
    border:solid #c9e2b3 2px;
    box-shadow:10px 10px 10px #3c763d ;
    background-color: white;
    padding: 20px 5px;
}
.ticket-list{
    /*padding: 1%;*/
    /*width: 90%;*/
    /*height: 100%;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    max-height: 200px;
    min-height: 200px;
    overflow-y: auto;
}

.ticket-title{
    white-space:nowrap;
    padding:0 1%;
}

.detail-title{
    /*display: inline;*/
    white-space:nowrap;
}
.sche-detail{
    max-height: 300px;
    overflow: auto;
}

/*.detail-ticket-list{*/
/*    max-height: 70%;*/
/*    overflow: auto;*/
/*}*/
.ticket-item{
    height: 100%;
    overflow: auto;
}
.order-ticket{
    border-bottom:  #5cb762 dashed 1px;
}
