<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.user.AccountOfManagerMapper">
    <insert id="addManager" parameterType="com.example.cinema.vo.ManagerForm" useGeneratedKeys="true" keyProperty="id">
        insert into manager(username, password)
        values (#{username},#{password})
    </insert>
    <delete id="deleteManager" parameterType="java.lang.String">
        delete from manager where username=#{name}
    </delete>
    <update id="updateManager" parameterType="com.example.cinema.vo.ManagerUpdateVO">
        update manager set username=#{username},password=#{password}
        where username=#{oldname}
    </update>
    <select id="searchByName" parameterType="java.lang.String" resultMap="ManagerPO">
        select * from manager where username=#{name}
    </select>
    <select id="searchAllManagers" resultMap="ManagerPO">
        select * from manager
    </select>
    <resultMap id="ManagerPO" type="com.example.cinema.po.ManagerPO"></resultMap>

</mapper>