.coupon-checkbox{
    align-items: center;
}

 .all-coupon-item,.vip-consume{
    background-color: white;
}

/*金额限制*/
.vip-consume{
    padding: 2%;
    margin: 2% 0;
}

/* coupon为优惠券样式 */
.coupon-wrapper {
    padding: 5px;
}

.coupon {
    /* 相对定位，方便让before和after伪元素绝对定位偏移 */
    position: relative;
    overflow: hidden;
    background: #1caf9a;
    height: 120px;
    margin: 5px;
}

.coupon:before, .coupon:after {
    top: 10px;
    content: ' ';
    width: 0;
    height: 100%;
    /* 绝对定位进行偏移 */
    position: absolute;
}

.coupon:before {
    /* 圆点型的border */
    border-right: 10px dotted white;
    /* 偏移一个半径，让圆点的一半覆盖div */
    left: -5px;
}

.coupon:after {
    /* 圆点型的border */
    border-left: 10px dotted white;
    /* 偏移一个半径，让圆点的一半覆盖div */
    right: -5px;
}

.coupon .content {
    display: flex;
    flex-direction: row;
    padding: 15px;
    color: white;
    align-items: center;
}

.coupon .content .left {
    display: flex;
    flex-shrink: 0;
    min-width: 50%;
    flex-direction: column;
    border-right: 2px dashed rgba(255,255,255,.3);
}

.coupon .content .left .name{
    white-space:nowrap;
    overflow:auto;
    font-size: 22px;
}
.coupon .content .left .price::-webkit-scrollbar {
    display: none;
}

.coupon .content .left .description{
    font-size: 12px;
    color: #f9d3a1;
}

.coupon .content .left .price{
    white-space:nowrap;
    overflow:auto;
    margin-top: 10%;
    font-size: 20px;
}

.coupon .content .right {
    padding: 0px;
    text-align: center;
    color: #d2d2d2;
}
