<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>影院管理</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/cinemaHall.css"/>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/adminCinemaManage.js"></script>
</head>

<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">Admin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="#"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation"><a href="/admin/session/manage"><i class="icon-calendar"></i> 排片管理</a></li>
            <li role="presentation" ><a href="/admin/promotion/manage"><i class="icon-gift"></i> 活动管理</a></li>
            <li role="presentation" class="active"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation"><a href="/admin/cinema/statistic"><i class="icon-bar-chart"></i> 影院统计</a></li>
            <li role="presentation"><a href="/admin/membercard/manage"><i class="icon-credit-card"></i> 会员卡管理</a></li>
            <li role="presentation"><a href="/admin/ticket/refund"><i class="icon-credit-card"></i> 退票策略</a></li>
            <li role="presentation"><a href="/admin/coupon/manage"><i class="icon-bar-chart"></i> 赠送优惠券</a></li>
            <li role="presentation" id="root-staff-manage" style="display:none"><a href="/root/staffManage"><i class="icon-bar-chart"></i> 员工管理</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="content-item">
            <span class="title gray-text">常规设置</span>
            <div class="content-card card">
                <span class="">用户可见排片日期：</span><span id="can-see-num"></span>
                <a style="margin-left: 20px;" class="primary-text" id="canview-modify-btn">修改</a>
                <input type="number" class="form-control" id="canview-set-input" style="display: none;width: 200px;">
                <a style="display: none" class="primary-text" id="canview-confirm-btn">确认</a>
            </div>
        </div>
        <div class="content-item">
            <span class="title gray-text">影厅管理</span>
            <button type="button" class="btn btn-primary add-staff"
                    data-backdrop="static" data-toggle="modal" data-target="#addhall"><i class="icon-plus-sign"></i>编辑影厅</button>
            <div class="content-card card" id="hall-card">
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="edithall" tabindex="-1" aria-labelledby="editStaffLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="edithallLabel">添加影厅</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="edit-hall-name-input"><span class="error-text">*</span>影厅名字</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit-hall-name-input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="edit-row-input"><span class="error-text">*</span>座位行数</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="edit-row-input" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="edit-column-input"><span class="error-text">*</span>座位列数</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="edit-column-input" >
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >取消</button>
                <button type="button" class="btn btn-primary editStaff" id="hall-edit-btn">确认</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addhall" tabindex="-1" aria-labelledby="editStaffLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addhallLabel">添加影厅</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="hall-name-input"><span class="error-text">*</span>影厅名字</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="hall-name-input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="row-input"><span class="error-text">*</span>座位行数</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="row-input" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="column-input"><span class="error-text">*</span>座位列数</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="column-input" >
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >取消</button>
                <button type="button" class="btn btn-primary editStaff" id="hall-add-btn">确认</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>