<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>退票策略</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/refundTicket.js"></script>
</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">Admin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/admin/movie/manage"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation"><a href="/admin/session/manage"><i class="icon-calendar"></i> 排片管理</a></li>
            <li role="presentation"><a href="/admin/promotion/manage"><i class="icon-gift"></i> 活动管理</a></li>
            <li role="presentation"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation"><a href="/admin/cinema/statistic"><i class="icon-bar-chart"></i> 影院统计</a></li>
            <li role="presentation"><a href="/admin/membercard/manage"><i class="icon-credit-card"></i> 会员卡管理</a></li>
            <li role="presentation" class="active"><a href="/admin/ticket/refund"><i class="icon-credit-card"></i> 退票策略</a></li>
            <li role="presentation"><a href="/admin/coupon/manage"><i class="icon-bar-chart"></i> 赠送优惠券</a></li>
            <li role="presentation" id="root-staff-manage" style="display:none"><a href="/root/staffManage"><i class="icon-bar-chart"></i> 员工管理</a></li>
        </ul>
    </div>
<!--    /退票主显示界面-->
    <div class="content-container">
        <div class="header">
            <div class="content-header">
                <span class="title gray-text" style="margin-right: 75%">退票策略</span>
                <button type="button" class="btn btn-primary" data-backdrop="static" data-toggle="modal" data-target="#activityModal"><i class="icon-plus-sign"></i> 发布退票策略</button>
            </div>
            <div class="table">
                <table class="staff-table table">
                    <thead class="staff-table-head col-md">
                    <tr>
                        <th>距离开场时间</th>
                        <th>可退款比例</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="refund-table-body" id="refund-table-body-in">
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<!--/新增退票策略按钮/-->
<div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="movieModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="activytyModalLabel">发布退票策略</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group form-inline">
                        <label class="col-sm-2 control-label" for="input-time"><span class="error-text">*</span>距开场：</label>
                        <div class="col-sm-10 input-time " id="input-time" style="display: inline">
                            <label class="time-text" for="new-refund-day-input"><input type="number" class="form-control " id="new-refund-day-input">天</label>
                            <label class="time-text " for="new-refund-hour-input"><input type="number" class="form-control " id="new-refund-hour-input">小时</label>
                            <label class="time-text" for="new-refund-min-input"><input type="number" class="form-control " id="new-refund-min-input">分钟</label>
                            <label class="time-text" for="new-refund-sec-input"><input type="number" class="form-control " id="new-refund-sec-input">秒</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="new-refund-percentage-input"><span class="error-text">*</span>可退比例</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="new-refund-percentage-input" placeholder="请输入0~1之间的小数">
                        </div>
                    </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="activity-form-btn">确认</button>
            </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editRefund" tabindex="-1" role="dialog" aria-labelledby="movieModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="activityModalLabeledit">编辑退票策略</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group form-inline">
                        <label class="col-sm-2 control-label" for="e-input-time"><span class="error-text">*</span>距开场：</label>
                        <div class="col-sm-10 input-time " id="e-input-time" style="display: inline">
                            <label class="time-text" for="edit-refund-day-input"><input type="number" class="form-control " id="edit-refund-day-input">天</label>
                            <label class="time-text " for="edit-refund-hour-input"><input type="number" class="form-control " id="edit-refund-hour-input">小时</label>
                            <label class="time-text" for="edit-refund-min-input"><input type="number" class="form-control " id="edit-refund-min-input">分钟</label>
                            <label class="time-text" for="edit-refund-sec-input"><input type="number" class="form-control " id="edit-refund-sec-input">秒</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="edit-refund-percentage-input"><span class="error-text">*</span>可退比例</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="edit-refund-percentage-input" placeholder="请输入0~1之间的小数">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="edit-refund-btn">确认</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>