<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的电影票</title>

    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入css样式文件 -->
    <!--    <link rel="stylesheet" type="text/css" href="/css/common.css"/>-->
    <link rel="stylesheet" type="text/css" href="/css/userTicket.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/userTicketUnpay.js"></script>

</head>
<body>
<!--顶部导航栏-->
<div class="nav-ticket-top-container">
    <div class="nav-logo title">NJU-Se电影购票系统</div>
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/user/home">首页</a></li>
        <li role="presentation"><a href="/user/movie">电影</a></li>
    </ul>
    <div class="btn-group">
        <button class="nav-user-container btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="avatar-sm" src="/images/defaultAvatar.jpg" />
            <span class="gray-text" style="vertical-align: middle">用户A&nbsp;<span class="caret"></span></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/user/ticket/unpay">我的电影票</a></li>
            <li><a href="/user/member">卡包</a></li>
            <li><a href="/user/record/consume">我的消费记录</a></li>
            <li id="logout"><a href="#">登出</a></li>
        </ul>
    </div>
</div>
<div class="body-container">
    <!--侧边导航栏-->
    <div class="nav-ticket-left-container ">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">我的电影票</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">待付款</a></li>
            <li role="presentation"><a href="/user/ticket/avail">可使用（可退款）</a></li>
            <li role="presentation"><a href="/user/ticket/refund">已退票</a></li>
            <li role="presentation"><a href="/user/ticket/used">已完成</a></li>
        </ul>
    </div>
    <div class="order-container">
        <div class="order-item col-md-4">
            <div class="order-item-inside">
                <div class="order-basic-title">
                    <span class="name">mock数据</span>
                    <span class="hall">1号厅</span>
                    <span class="startTime">2019-06-26 21:00</span>
                </div>
                <div class="order-content">
                    <div class="ticket-list">
                        <div class="ticket-title col-md-4 left">已选择座位：</div>
                        <div class="ticket-item col-md-8 right">
                            <div class="order-ticket">11排9座</div>
                            <div class="order-ticket">1排9座</div>
                            <div class="order-ticket">8排45座</div>
                            <div class="order-ticket">51排32座</div>
                            <div class="order-ticket">1排9座</div>
                            <div class="order-ticket">7排6座</div>
                        </div>
                    </div>
                    <div class="order-operate"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>