<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>影院管理</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/cinemaHall.css"/>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/rootStaffManage.js"></script>
</head>

<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">Admin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/admin/movie/manage"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation"><a href="/admin/session/manage"><i class="icon-calendar"></i> 排片管理</a></li>
            <li role="presentation"><a href="/admin/promotion/manage"><i class="icon-gift"></i> 活动管理</a></li>
            <li role="presentation"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation"><a href="/admin/cinema/statistic"><i class="icon-bar-chart"></i> 影院统计</a></li>
            <li role="presentation"><a href="/admin/membercard/manage"><i class="icon-credit-card"></i> 会员卡管理</a></li>
            <li role="presentation"><a href="/admin/ticket/refund"><i class="icon-credit-card"></i> 退票策略</a></li>
            <li role="presentation"><a href="/admin/coupon/manage"><i class="icon-bar-chart"></i> 赠送优惠券</a></li>
            <li role="presentation" class="active"><a href="#"><i class="icon-bar-chart"></i> 员工管理</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="content-header">
            <span class="title gray-text">员工列表</span>
            <button type="button" class="btn btn-primary add-staff"
                    data-backdrop="static" data-toggle="modal" data-target="#addStaff"><i class="icon-plus-sign"></i>添加员工</button>

        </div>
        <div class="table">
            <table class="staff-table table">
                <thead class="staff-table-head col-md">
                <tr>
                    <th>用户名</th>
                    <th>密码</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="staff-table-body" id="staff-table-body-in">
                </tbody>
            </table>

        </div>

    </div>
</div>

<div class="modal fade" id="addStaff" tabindex="-1" aria-labelledby="addStaffLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="cancel"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addStaffLabel">添加员工</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="staff-username-input"><span class="error-text">*</span>用户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="staff-username-input" placeholder="请输入用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="staff-password-input"><span class="error-text">*</span>密码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="staff-password-input" placeholder="请输入密码，最长20位，只能为数字或字母" maxlength="20"
                                   onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" >
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >取消</button>
                <button type="button" class="btn btn-primary" id="staff-add-btn" >确认</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editStaff" tabindex="-1" aria-labelledby="editStaffLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editStaffLabel">编辑员工</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="staff-edit-username-input"><span class="error-text">*</span>用户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="staff-edit-username-input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="staff-edit-password-input"><span class="error-text">*</span>密码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="staff-edit-password-input" maxlength="20"
                                   onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >取消</button>
                <button type="button" class="btn btn-primary editStaff" id="staff-edit-btn">确认</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>